@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Ubuntu&display=swap');

* {
    
    margin: 0;
    padding: 0;
}
body
{
    background-color: antiquewhite;
    min-height: 100rem;
}
.logo {
    display: flex;
    color: white;

}

.logo img {
    margin: 0rem 1rem;
    height: 100%;
    width: 50px;
}

.logo a {
    margin: 1rem 0.5rem;
    font-family: 'Ubuntu', sans-serif;
}

.navbar {
    display: flex;
    top: 0;
    z-index: 1;
    position: sticky;
    /* justify-content: space-between; */
    background-color: black;
    min-width:100vh;
}

.navbar_icons {
    display: flex;
    margin-left: auto;
    list-style: none;
    margin: 0 3rem;
}

.navbar_icon {
    margin: 1rem 2rem;
    float: right;
}

.navbar_icons a {
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    color: white;
}

.bottom {
    /* display: flex; */
    flex-direction: column;
    min-width:100vh;    
    width: 100%;
    background-color: black;
    height: 5rem;
    max-height: 5rem;
    bottom: 0px;
    /* margin-bottom: 0; */
    position: fixed;
}

.container {
    /* background-image: url("./img/wallpapertip_berserk-iphone-wallpaper_470998.jpg"); */
    
    opacity: 0.99;
    /* min-height: 81vh; */
    min-width:100vh;
    /* bottom: 0; */
    height: 100rem;
    min-height: 92rem;
    /* background-size: 100vw; */
    color: white;
    display: flex;
    /* margin: auto; */
}

.outerip {
    display: flex;
    /* overflow: hidden; */
    margin-left: 40%;
    margin-right: 40%;
    justify-content: center;
    /* align-items: center; */
}

.outerip i {
    cursor: pointer;
    margin: 0.25rem 0.5rem;

}
.heading{
    display: flex;
    /* justify-content: center; */
    /* left: 40rem; */
    /* background-color: black; */
    /* border-radius: 5px; */
}
.songLists {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('./img/wallpapertip_berserk-iphone-wallpaper_470998.jpg');
    /* object-fit: cover; */
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border: solid white;
    border-radius: 20px;
    margin: 1rem auto;
    min-width: 80%;
    width: 90%;
    min-height: 92rem;
    height: 93rem;
    /* display: flex; */
    /* height: 100%; */
    /* object-fit: contain; */
    background-position: right top;
    overflow: hidden;
    background-size: cover;
    /* flex-direction: column; */
    /* margin: 1rem auto; */
    /* width: 80%; */
    /* height: 100vh; */
    /* justify-content: space-between; */
    /* justify-content: center; */
    /* align-items: center; */
}

.songLists div {
    margin: 1rem 1rem;
    /* font-size: larger; */
}

.heading {
    font-family: 'Ubuntu', sans-serif;
}

.songitem img {
    margin: 5px 10px;
    /* object-fit: contain; */
    /* object-fit: fill; */
    border-radius: 100px;
    height: 45px;
    width: 45px;
}

.songitem {
    display: flex;
    background-color: white;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    color: black;
    width: 50%;
    
    /* overflow-x: hidden; */
    min-width: 75vh;
    height: 60%;
    /* float: left; */
}

.songlistplay span {
    display: flex;
}

.songlistplay span i {
    margin: auto 5px 10px;
    cursor: pointer;
}
.list
{
    margin-top: 4px;
}
.heading h2
{
    margin-left: 2rem;
}
.right
{
    position: fixed;
    right: 20px;
    margin-top: 0.5rem;
    /* width: 2rem; */
    /* align-items: center; */
    /* justify-content: center; */
    /* float: right; */
}
.right i{
    cursor: pointer;
}
.text
{
    font-family: 'Ubuntu', sans-serif;
    font-size: larger;
    /* font-size: 1rem; */
}
.songinfo img
{
    width: 100px;
    /* min-width: 50%; */
    height: 20px;
    opacity:0;
    transition: opacity 0.4s ease-in;

}
.songinfo
{
    position: absolute;
    color: white;
    /* float: left; */
    /* position: fixed; */
    margin: 10px 0px;
    left: 10%;
    display: flex;
    margin: auto;
    /* min-width: 20px; */
    /* flex-wrap: wrap; */
    /* text-align: center; */
    /* justify-content: center; */
    align-items: center;
}
#song_progress
{
     width: 100%;
    /* margin-left: 10%; */
    /* margin-right: 10%; */
    /* align-self: center; */
cursor: pointer;
}
.upbox{
    display: flex;
    color: white;
    margin: 0 5%;
    /* left: 3rem; */
    /* right: 3rem; */
}
.currtime 
{
    /* left: 3rem; */
    margin-right: 1rem;
    float: right;
}
.totaltime
{
    margin-left: 1rem;
    /* right: 3rem; */
    float: left;
}